$primary: rebeccapurple;
$secondary: red;
$third: rgb(210, 186, 235);
$font-size: 36px;
$h1-size: 96px;
%h1-title{ 
    font-size: 96px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
body{ 
    font-size: $font-size;
    background-color: $primary;
    h1{ 
        @extend %h1-title;
    }
    h2{ 
        color: $third;
    }
    .myDiv{ 
        font-size: 60px;
    }
}